{% extends 'main_template.html' %}
{% load static %}
{% block content %}
<script>
    window.onload = function(){
    document.title = "Проверка кодов маркировки";



    }
</script>
<!--    const element = document.getElementById('searchInput');-->
<!--    hideKeyboard(element);-->
        <div class="card position-absolute top-50 start-50 translate-middle shadow" style="background-color: #F7F7F7" id="main_check">
            <div class="card-header bg-secondary text-light text-center">
                <div class="container">
                    <div class="row justify-content-md-start">
                        <div class="col-1 position-absolute top-5 start-0">
                           <button type="button" class="btn btn-sm btn-dark" onclick=" window.location = '/';" title="меню">&#9776</button>
                        </div>
                        <div class="col">
                            <div class="mt-1">Проверка кода маркировки</div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="card-body ">
            <h5 class="card-title text-center p-3"></h5>

                <div class="input-group py-1 px-3" >
                        <input  inputmode="none" id="searchInput" onfocus="SendCode();" autocomplete="off"  autocapitalize="off" spellcheck="false" autofocus="autofocus" name="check_code" class="form-control " placeholder="" >
                </div>
              <div class="logo logo_sm text-center py-3">
<!--                    <b>CHECK CODE	&emsp;</b>-->
                    <img src="{% static '/img/barcode_scanner_2.png' %}" alt="" class="logo__img_sm logo__img_sm1" style="width: 80px !important; height: 80px !important;">
              </div>

          </div>
            <div class="card-footer text-center" style="zoom:80%">
            Отсканируй код маркировки на товаре
          </div>
        </div>

        <div class="card position-absolute top-50 start-50 translate-middle bg-white" style=" display: none" id="response_check">
            <div class="card-header text-primary fw-bold" id="card_header" style="display: none; zoom:80%">

          </div>
          <div class="card-body" style="zoom:85%;">
            <div class="text-center" id="message-valid-text" style="">

            </div>
            <div class="text-center" id="message-leading-symbol-text" style="zoom: 95%">

            </div>



                    <p id="message-bar-text" class="card-text text-center"></p>
                    <div class="text-end" id="button_close" style="display: none; ">
                        <button type="button" class="btn btn-sm btn-secondary" onclick="ButtonClose();">Закрыть</button>
                    </div>

          </div>
            <div class="card-footer text-center text-danger fw-bold" id="card_footer" style="display: none; zoom:80%">

          </div>
        </div>
{% endblock %}
