{% extends 'main_template.html' %}
{% load static %}
{% block content %}
<script>
    window.onload = function(){
    document.title = "Считывание КИ";



    }
</script>
<div class="card position-absolute top-50 start-50 translate-middle shadow " style="" id="main_check">
            <div class="card-header bg-warning text-secondary text-center">
                <div class="container">
                    <div class="row justify-content-md-start">
                        <div class="col-1 position-absolute top-5 start-0">
                           <button type="button" class="btn btn-sm btn-dark" onclick=" window.location = '/';" title="меню">&#9776</button>
                        </div>
                        <div class="col">
                            <div class="mt-1">Распознавание кода маркировки</div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="card-body ">
            <h5 class="card-title text-center p-3"></h5>

                <div class="input-group py-1 px-3" >
                        <input  inputmode="none" id="searchInput" onfocus="SendCode();" autocomplete="off"  autocapitalize="off" spellcheck="false" autofocus="autofocus" name="check_code" class="form-control " placeholder="" >
                </div>
              <div class="logo logo_sm text-center py-3">
<!--                    <b>CHECK CODE	&emsp;</b>-->
                    <img src="{% static '/img/barcode_scanner_2.png' %}" alt="" class="logo__img_sm logo__img_sm1" style="width: 80px !important; height: 80px !important;">
              </div>

          </div>
            <div class="card-footer text-center">
            Отсканируй код маркировки на товаре
          </div>
        </div>
{% endblock %}

